# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
backend/vendor

# production
/dist
tsconfig.app.tsbuildinfo

# misc
.DS_Store

# local env files
.env