@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #252525;
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('../public/img-cat02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
}

.container {
  width: 400px;
  height: 100vh;
  opacity: 0.9;
  background-color: #FFF;
}